@font-face {
  font-family: "Lato";
  src: url('/fonts/Lato-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url('/fonts/Lato-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url('/fonts/Lato-SemiBold.ttf');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url('/fonts/Lato-Bold.ttf');
  font-display: swap;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato";
  font-size: 16px;
}

.container {
  max-width: 1660px;
  min-width: 360px;
  margin: 0 7%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  margin: 0;
}

ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.button {
  font-family: "Lato";
  display: block;
  padding: 18px 35px;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  background-color: rgba(58, 178, 91, 1);
  white-space: nowrap;
  border-radius: 8px;
  border: none;
}

.main {
  overflow: hidden;
}

.main-inner {
  padding-top: 20px;
}

@media (width <=1660px) {
  .container{
    margin: 0px 1.6%;
  }
}
